:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.note-app__header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  4px 16px;
  border-bottom: 1px solid white;
}

.note-app__header h1{
  margin: 8px 0;
  flex: 1;
  color: white;
  font-size: 3.2em;
}

.root{
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2{
  font-weight: normal;
  margin: 16px 0;
  text-align: center;
}

.note-input{
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input, .note-input label{
  display: block;
  width: 100%;
}

.note-input__title{
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body{
  min-height: 175px;
  min-width: 500px;
}

.note-input button{
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list p{
  text-align: center;
  color: #aaa;
  grid-column: 1 / -1;
}

.notes-item{
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content{
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date{
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  cursor: pointer;
}

.note-item__delete-button{
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}


.notes-list {
  grid-template-columns: repeat(3, 1fr);
  padding: 3em;
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
  }

  .note-app__header input {
    min-width: 200px;
  }
} 


@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
